
#mainGraph {

    margin-left: 250px;
    margin-top: 20px;

    path.line {
      fill: none;
      stroke: white;
      stroke-width: 1px;
    }

    path.area {
      /*fill: #e7e7e7;*/
    }

    .axis {
      shape-rendering: crispEdges;
      stroke: white;
      fill: white;
    }

    .axis text {
        /*font-family: sans-serif;*/
        stroke: black;
        font-weight: 300;
    }

    .x.axis line {
      stroke-width: 1px;
      stroke: #fff;
    }

    .x.axis .minor {
      stroke-opacity: .5;
    }

    .x.axis path {
      display: none;
    }

    .y.axis {
      stroke: white;
    }
    .y.axis line, .y.axis path {
      stroke-width: 1px;
      fill: none;
      stroke: white;
      color: white;
    }

    rect.bar {
      fill: $googleGreen;

    }

    rect.graphBackground {
      fill: black
    }
    text {
      /*stroke: white;*/
      stroke: none;
      fill: white;
    }
}
