
#mainGraph {

    /*border: 1px solid black;*/
    margin-left: 250px;
    margin-top: 20px;

    path.line {
      fill: none;
      stroke: #0066FF;
      stroke-width: 1.5px;
    }

    path.area {
      fill: #e7e7e7;
    }

    .axis {
      shape-rendering: crispEdges;
    }

    .x.axis line {
      stroke: #fff;
    }

    /*.x.axis .minor {
      stroke-opacity: .5;
    }*/

    .x.axis path {
      display: none;
    }

    .y.axis line, .y.axis path {
      fill: none;
      stroke: #000;
    }
    rect.bar {
      fill: #00CC00;

    }
    rect.graphBackground {
      fill: black
    }
}
