
<section id='home'>
	<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Stock/Search
                    </a>
                </li>
                <li class='row'>
                	<a>Stock Symbol: [White Line]
                		<input type='text' 
							ng-model='stockSymbol' 
							placeholder="i.e. 'AAPL'"></a>
                </li>
                <li class='row'>
                	<a>Start Date:<input type='date' ng-model='startDate'></a>
                </li>
                <li class='row'>
                	<p><a>End Date:<input type='date' ng-model='endDate'></p></a>
                </li>
                <li class='row'>
                	<p><a>Google Keyword: [Green Bars]<input type='text' ng-model='trendTerm' placeholder="i.e. 'iPhone'"></p></a>
                </li>
                <!-- <li class='row'>
                	<button class='btn dataButton' ng-click='getNewData(stockSymbol, startDate, endDate)'>GET STOCK</button>
                </li> -->
                <li class='row'>
                	<button class='btn dataButton' ng-click='getNewTrendData(trendTerm, startDate, endDate); getNewData(stockSymbol, startDate, endDate) '>GET KEYWORD and STOCK</button>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
	<main-graph class='col-lg-12' stockdata="stockClose" trenddata='trendData'></main-graph>
<br>
<br>
<!-- <div>{{trendData}}</div> -->

</section>


