/*  begin fsg defaults */
* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
/* end fsg defaults */


@import 'directives/main-graph';

/*
#graph {
  width: 100%;
  height: 100%;
  position: absolute;
}
*/