$googleBlue: #0266C8;
$googleRed: #F90101;
$googleYellow: #F2B50F;
$googleGreen: #00933B;
$silver: #ACACAC;

* {
  box-sizing: border-box;
  font-family: "Khula"
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
/* end fsg defaults */

body {
  background-image: url('../scss/mosaicGold.jpg');
  background-size: 100%;
}

@import 'directives/main-graph';
