/*  begin fsg defaults */
* {
  box-sizing: border-box;
}

body {
  /*background: #fdfdfd;*/
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
/* end fsg defaults */

body {
  background: linear-gradient(to top right, white , #D1FFE0);
}


@import 'directives/main-graph';
